# Tmps
*.swp

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac DS_Store
.DS_Store

# Lock data
*.lock
*lock.json

# Directory for backend
#backend

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# vscode setting file
.vscode

#private Key
api/test/eum.key

*.env
